# Object files and compiled outputs
*.d
*.slo
*.lo
*.o
*.obj

# Precompiled headers
*.gch
*.pch

# Shared and static libraries
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Debug and intermediate files
*.pdb
*.ilk
*.idb
*.log

# IDE and editor-specific files
.cache/
.idea/
.vs/
.vscode/

# Build directories
out/
build/
bin/
cmake-build-*/

# CMake related
CMakeUserPresets.json
compile_commands.json
